.metrodesign-base-group,
.metrodesign-base-group div,
.metrodesign-base-group button,
.metrodesign-base-group input,
.metrodesign-base-group textarea
.metrodesign-base-group select,
.metrodesign-base-group img {
  box-sizing: border-box;
}

.metrodesign-base-group,
.metrodesign-base-group button,
.metrodesign-base-group input,
.metrodesign-base-group textarea,
.metrodesign-base-group select {
  font-family: "Noto Sans", "Segoe UI", sans;
  font-size: inherit;
}

.metrodesign-base-group code,
.metrodesign-base-group pre {
  font-family: "Courier Prime", "Courier New", monospace;
  font-size: 0.8rem;
}

.metrodesign-base-group h1,
.metrodesign-base-group h2 {
  font-weight: lighter;
}
.metrodesign-base-group h3,
.metrodesign-base-group h4 {
  font-weight: bold;
}
.metrodesign-base-group h1 {
  font-size: 2rem;
}
.metrodesign-base-group h2 {
  font-size: 1.7rem;
}
.metrodesign-base-group h3 {
  font-size: 1.3rem;
}
.metrodesign-base-group h4 {
  font-size: 1.1rem;
}